@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shanti&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: montserrat;
  margin: 1vw;
  font-size: 3vw;
  margin-left: 3vw;
}
#root {
  background-color: #543c2c;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  margin: 0 auto;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  padding: 1vw;
  border-radius: 0.25vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7), 0 8px 24px rgba(0, 0, 0, 0.3);
}
.form input,
select {
  width: 100%;
  padding: 1vw;
  background-color: transparent;
  border: 1px solid #fad5a5;
  color: #fad5a5;
  font-family: monda;
  font-size: 1vw;
  margin: 0.5vw;
  border-radius: 0.25vw;
  outline: none;
}
.form button {
  width: 100%;
  padding: 1vw;
  background-color: #fad5a5;
  border: none;
  color: #543c2c;
  font-family: shanti;
  font-size: 1vw;
  margin: 0.5vw;
  border-radius: 0.25vw;
  cursor: pointer;
}

select {
  cursor: pointer;
}
option {
  background-color: #543c2c;
  color: #fad5a5;
  font-family: monda;
  font-size: 1vw;

  border-radius: 0.25vw;
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fad5a5;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.sd {
  width: 80vw;
  background-color: #202020;
  margin: 1vw;
  border-radius: 0.25vw;
  color: white;
  padding: 1vw;
  font-family: monda;
  position: relative;
}
.sd h2 {
  color: #fad5a5;
  text-shadow: 0 0 2px #fad5a5;
}
.delete {
  background-color: transparent;
  border: 1px solid #fad5a5;
  border-radius: 1vw;
  cursor: pointer;
  width: 5vw;
  aspect-ratio: 16/9;
  position: absolute;
  right: 1vw;
  top: 5%;
}
.delete:hover {
  background-color: #fad5a5;
}
.delete:hover svg {
  fill: #543c2c;
}
button svg {
  width: 1.5vw;
  aspect-ratio: 1/1;
  fill: #fad5a5;
}